<header class="header">
  <div class="header-inner">
    <a href="{{ '/' | relative_url }}" class="brand">It's an AC Life</a>

    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="{{ '/index.html' | relative_url }}" class="navlink {% if page.active == 'index' %}navlink--active{% endif %}">Project</a></li>
        <li><a href="{{ '/about.html' | relative_url }}" class="navlink {% if page.active == 'about' %}navlink--active{% endif %}">About Me</a></li>
        <li><a href="{{ '/blog.html' | relative_url }}" class="navlink {% if page.active == 'blog' %}navlink--active{% endif %}">Blog</a></li>
        <li><a href="https://www.github.com/acmloria" target="_blank" class="fab fa-github"></i></a></li>
      </ul>
    </nav>
  </div>
</header>


